.footer {
  @extend .flex-center;
  padding: 1rem 0 0 0;
  background-color: $blue-light;
  min-height: 10rem;
  flex-direction: column;

  p {
    color: $white;
    text-align: center;
    font-size: 16px;
    line-height: 1.4rem;
    padding-bottom: 2rem;
  }

  &__bottom {
    @extend .flex-center;
    min-width: 100%;
    background-color: $orange;
    color: $white;
    padding: .7rem 0;
    font-size: .9rem;
  }
}